# 忽略 Unity 缓存文件
[Uu]nityProject/[Ll]ibrary/
[Uu]nityProject/[Tt]emp/
[Uu]nityProject/[Oo]bj/
[Uu]nityProject/[Bb]uild/
[Uu]nityProject/[Bb]uilds/
[Uu]nityProject/[Mm]onoDevelop.props
unity-project/Library/
unity-project/Temp/
unity-project/Obj/

# Unity 自动生成的VS文件
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.unityproj
*.svd

# Visual Studio 配置
/.vs/
/.vscode/

# 你的RealWorldTerrain插件缓存
/RWT_Cache/
/RealWorldTerrainPrefs.xml

# Mac/Windows系统文件
.DS_Store
Thumbs.db

# 忽略网页缓存
node_modules/
